#green {
	background-color: rgba(0,255,0,1);
}

#blue {
	background-color: rgba(0,125,255,1);
}

#orange {
	background-color: rgba(255,125,30,1);
}

#red {
	background-color: rgba(255,40,0,1);
}

#yellow {
	background-color: rgba(255,250,0,1);
}

div {
/*	margin: 0 auto;*/
	padding: 20px;
}